<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn btn-hollow">Alternate Button</a></p>
<p><a href="#" class="btn btn-disabled">Disabled</a></p>
<p><input type="submit" class="search-submit" value="  "></p>
<p><a href="#" class="btn btn-gray">Cancel</a></p>
<p><input name="submit" type="submit" id="submit" value="Submit"></p>