<!doctype html>
<html class="{{ htmlClass }}">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic|Raleway:400,300,600' rel='stylesheet' type='text/css'>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">
    <script src="https://googledrive.com/host/0B-B36bvbQPRlenJfTnYycVIwTWc/responsive-nav.js"></script>
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
<script>hljs.initHighlightingOnLoad();</script>

<script>
  var nav = responsiveNav(".nav-collapse");
</script>

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->
	
	</head>
	<body class="{{ bodyClass }}">	
		