&lt;div class=&quot;demo&quot;&gt;
	&lt;!--Grid 3up--&gt;
	&lt;div class=&quot;grid-container&quot;&gt;
		&lt;div class=&quot;columns-4&quot;&gt;4 of 12 Columns&lt;/div&gt;
		&lt;div class=&quot;columns-4&quot;&gt;4 of 12 Columns&lt;/div&gt;
		&lt;div class=&quot;columns-4&quot;&gt;4 of 12 Columns&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;