<fieldset>
    <div class="field-container">
        <label for="select">Select</label>
        <select id="select">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
                <option>Option Four</option>
        </select>
    </div>
</fieldset>