&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;search-form&quot;&gt;
	    &lt;label class=&quot;screen-reader-text&quot;&gt;Search for:&lt;/label&gt;
	    &lt;input type=&quot;search&quot; class=&quot;search-field&quot; placeholder=&quot; Search ...&quot; id=&quot;search-field&quot;&gt;
	    &lt;input type=&quot;submit&quot; class=&quot;search-submit&quot; value=&quot; &amp;#xf002; &quot;&gt;
&lt;/form&gt;