/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

// label {
// 	display: block;
// 	padding-bottom: $space-half;
// }

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0 1px 0;
}

input, textarea {
	width: 100%;
	padding: $pad-half 0.65rem;
}

// input[type=text], input[type=search], input[type=url], input[type=number], textarea {
// 	-webkit-appearance: none;
// }

// button, input[type="submit"] {
// 	padding: $pad-half;
// 	background: $gray-dark;
// 	border: 1px solid $gray;
// 	cursor: pointer;
// }

// input[type="checkbox"],
// input[type="radio"] {
//     width: auto;
//     margin-right: 0.3em;
// }

// input[type="search"] {
//     -webkit-appearance: none;
//     border-radius: 0;
// }

// input[type="search"]::-webkit-search-cancel-button,
// input[type="search"]::-webkit-search-decoration {
//     -webkit-appearance: none;
// }

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.inline-form {
	fieldset, .inline-container {
		position: relative;
	}
}
	
// 	input[type=submit], button, .btn {
// 		font-size: $font-size-small-2;
// 		padding: 0.65rem 1.3rem;
// 		background: $gray-dark;
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		z-index: 1;
// 		width: auto;

// 		&:hover, &:focus {
// 			background: $gray;
// 			color: $white;
// 		}
// 	}
// }

/* Validation */
.field-container {
& input.is-error {
	border-color: darken($error, 20);
}
& input.is-valid {
	border-color: darken($valid, 20);
}
}

.screen-reader-text {
    @extend %scut-hide-visually;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/* Search Form */
// .search-field {
// 	padding-right: 3em;
// }
// .inline-form .search-submit {
// 	background: none;
// 	padding: 0.78em 1em;
// 	border: 0;
// 	border-left: 1px solid $gray;
// 	color: $gray;
// }





input[type="newsletter"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid $gray-light-2;
    box-shadow: inset 0 1px 1px #eee;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px #eee;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
input[type="color"] {
    padding: 0.2em 0.5em;
}


input[type="newsletter"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: $shield-blue;

    &.is-error {
    border-color: $error;
  }

      &.is-valid {
    border-color: $valid;
  }
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]):focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: $shield-blue;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto $shield-blue;
}
checkbox,
radio {
    margin: 0.5em 0;
    display: block;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

input#ic {
width: 50px;
padding: 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}
input[readonly],
select[readonly],
textarea[readonly] {
    background: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #e9322d;
}
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
select {
    border: 1px solid #ccc;
    background-color: white;
}
select[multiple] {
    height: auto;
}
label {
    margin: 0.5em 0 0.2em;
}
fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}


.search-form {
    @include container( 15em );
    @extend %scut-clearfix;
}

input[type="search"].search-field {
    @include span(9);
    margin: 0;
    height: 38px;
    @include border-right-radius(0);
}

input[type="submit"].search-submit {
    @include span(3 at 10);
    @include border-left-radius(0);
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    height: 38px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $shield-blue;
    color: #fff;
}