/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

img.avatar {
@include scut-circle(4em, white);
  border: 1px solid #e7e7e7;
}

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
}

iframe {
	margin-bottom: $space;
}

figure {
	margin-bottom: $space;
	img {
		margin-bottom: $space-half;
	}
}
