/* Text-Related Elements */ 
p {
	margin-bottom: $space;
}

/* Blockquote */
blockquote {
    border-left: 5px solid $gray-light-3;
	padding-left: $pad;
	margin-bottom: $space;
    @include scut-rem-fallback(17.5);
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}

figcaption, cite {
    color: $gray;
    font-style: normal;
    @include scut-rem-fallback(15);
}

figcaption:before {
    content: $scut-mdash;
    color: $gray;
}