<div class="entry-byline">
				<span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person"><a href="{{ url }}" title="Posts by {{ author.first-name }} {{ author.last-name }}" rel="author" class="url fn n" itemprop="url"><span itemprop="name">By {{ author.first-name }} {{ author.last-name }}</span></a></span>
				{{> atoms-time }}
				</div>