<div class="vcard">
	<div class="org">Diocese of Charlotte</div>
	<div class="adr">
		<div class="street-address">1123 South Church Street</div>
		<span class="locality">Charlotte</span>,
		<span class="postal-code">28203</span>,
		<abbr class="region" title="North Carolina">NC</abbr>
		<div class="country">United States</div>
	</div>
	<div class="tel">(704) 370-6299</div>
</div>