<figure class="quote">
	<blockquote>
	   	<p>I like it when someone tells me "I don't agree." This is a true collaborator. When they say "Oh, how great, how great, how great," that's not useful. </p>
		<figcaption><cite>Pope Francis</cite></figcaption>
	</blockquote>
</figure>