<!-- Begin .header -->
<header id="header" class="site-header" role="banner">
<nav id="menu-primary" class="menu" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
    <a href="{{ url }}" class="logo">
      {{> atoms-favicon-32x32 }}
    </a>
{{> molecules-primary-nav }}
    <div class="navigation-tools">
{{> molecules-search }}
  </div>
	</nav>
</header>
<!-- End .header -->




