<!-- Begin Footer -->
<footer id="footer" class="site-footer" role="contentinfo">
	<div class="lc">
		<p class="credit">&copy; 2014 Diocese of Charlotte. All rights reserved.</p>
	</div>
</footer>
<!-- End Footer -->