&lt;nav class=&quot;breadcrumb-trail breadcrumbs&quot; itemprop=&quot;breadcrumb&quot;&gt;
&lt;span class=&quot;trail-begin&quot;&gt;&lt;a href=&quot;{{ url }}&quot; title=&quot;Diocese of Charlotte&quot; rel=&quot;home&quot;&gt;&lt;/a&gt;&lt;/span&gt;
&lt;span class=&quot;sep&quot;&gt;&lt;/span&gt; &lt;a href=&quot;{{ url }}&quot;&gt;Parent&lt;/a&gt;
&lt;span class=&quot;sep&quot;&gt;&lt;/span&gt; &lt;a href=&quot;{{ url }}&quot;&gt;Child&lt;/a&gt;
&lt;span class=&quot;sep&quot;&gt;&lt;/span&gt; &lt;a href=&quot;{{ url }}&quot;&gt;Grandchild&lt;/a&gt;
&lt;span class=&quot;sep&quot;&gt;&lt;/span&gt; &lt;span class=&quot;trail-end&quot;&gt;Current Page&lt;/span&gt;
&lt;/nav&gt;