@import 'flash';

@mixin fa {
	  display: inline-block;
	  font-family: FontAwesome;
	  font-style: normal;
	  font-weight: normal;
	  line-height: 1;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
}

@mixin icon($icon) {
			content: $icon;
		}

@mixin ease {
-webkit-transition: $base-transition-time;
transition: $base-transition-time;
}