<div class="nav-collapse" id="nav">
<ul id="menu-primary-items" class="menu-items">
<li class="menu-item"><a href="#">Home</a></li>
<li class="menu-item"><a href="#">Blog</a></li>
<li class="menu-item"><a href="#">Front Page</a></li>
<li class="menu-item"><a href="#">About The Tests</a></li>
<li class="menu-item menu-item-has-children dropdown"><a href="#" class="dropdown-toggle">Level 1</a>
<ul class="sub-menu">
  <li class="menu-item menu-item-has-children dropdown"><a href="{{ url }}" class="dropdown-toggle">Level 2</a>
  <ul class="sub-menu">
    <li class="menu-item"><a href="{{ url }}">Level 3</a></li>
    <li class="menu-item"><a href="{{ url }}">Level 3a</a></li>
    <li class="menu-item"><a href="{{ url }}">Level 3b</a></li>
  </ul>
</li>
  <li class="menu-item"><a href="{{ url }}">Level 2a</a></li>
  <li class="menu-item"><a href="{{ url }}">Level 2b</a></li>
</ul>
</li>
<li class="menu-item"><a href="#">Lorem Ipsum</a></li>
<li class="menu-item"><a href="#">Page A</a></li>
<li class="menu-item"><a href="#">Page B</a></li>
</ul>
</div>