<nav class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
<span class="trail-begin"><a href="{{ url }}" title="Diocese of Charlotte" rel="home"></a></span>
<span class="sep"></span> <a href="{{ url }}">Parent</a>
<span class="sep"></span> <a href="{{ url }}">Child</a>
<span class="sep"></span> <a href="{{ url }}">Grandchild</a>
<span class="sep"></span> <span class="trail-end">Current Page</span>
</nav>