<nav class="pagination loop-pagination">
<a class="prev page-numbers" href="{{ url }}">Previous</a>
<a class="page-numbers" href="{{ url }}">1</a>
<span class="page-numbers current">2</span>
<a class="page-numbers" href="{{ url }}">3</a>
<span class="page-numbers dots">…</span>
<a class="page-numbers" href="{{ url }}">6</a>
<a class="next page-numbers" href="{{ url }}">Next</a>
</nav>
