<div class="whistles whistles-tabs"><ul class="whistles-tabs-nav"><li class="whistle-title font-secondary" aria-selected="true"><a href="#whistle-group-1-1773-1436624743" aria-selected="true">Tab A</a></li><li class="whistle-title font-secondary" aria-selected="false"><a href="#whistle-group-1-1774-1436624743" aria-selected="true">Tab B</a></li><li class="whistle-title font-secondary" aria-selected="false"><a href="#whistle-group-1-1775-1436624743" aria-selected="true">Tab C</a></li></ul><!-- whistles-tabs-nav --><div class="whistles-tabs-wrap"><div id="whistle-group-1-1773-1436624743" class="whistle-content" style="display: block;"><p>Commodi eum facilis adipisci, earum recusandae lorem recusandae facilisi, urna placerat suspendisse unde aute commodi! Fringilla! Aut nec laboriosam arcu quia recusandae facilis diam convallis suspendisse faucibus asperiores eget earum sapien euismod accusantium molestiae animi voluptates.</p>
<p>Commodi eum facilis adipisci, earum recusandae lorem recusandae facilisi, urna placerat suspendisse unde aute commodi! Fringilla!</p>
</div><div id="whistle-group-1-1774-1436624743" class="whistle-content" style="display: none;"><p>Aut nec laboriosam arcu quia recusandae facilis diam convallis suspendisse faucibus asperiores eget earum sapien euismod accusantium molestiae animi voluptates.</p>
<p>Commodi eum facilis adipisci, earum recusandae lorem recusandae facilisi, urna placerat suspendisse unde aute commodi!</p>
</div><div id="whistle-group-1-1775-1436624743" class="whistle-content" style="display: none;"><p><div class="embed-wrap"><iframe height="577" src="http://www.youtube.com/embed/RHv1E04XW3Q?feature=oembed" frameborder="0" allowfullscreen="" style="max-width: 1025px;"></iframe></div></p>
</div></div><!-- .whistles-tabs-wrap --></div>