/*                                                                                                                                         


/*------------------------------------*\
    $TABLE OF CONTENTS 
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables 
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins 
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v0.10.3
* Docs at http://davidtheclark.github.io/scut
*/
/* line 10, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.search-form:after, .grid-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 302, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 6, scss/generic/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 22, scss/generic/_reset.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 32, scss/generic/_reset.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 45, scss/generic/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 65, scss/generic/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 78, scss/generic/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 88, scss/generic/_reset.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 100, scss/generic/_reset.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 108, scss/generic/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 120, scss/generic/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 128, scss/generic/_reset.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 137, scss/generic/_reset.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 146, scss/generic/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 155, scss/generic/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 164, scss/generic/_reset.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 172, scss/generic/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 180, scss/generic/_reset.scss */
sup {
  top: -0.5em;
}

/* line 184, scss/generic/_reset.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 195, scss/generic/_reset.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 203, scss/generic/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 214, scss/generic/_reset.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 222, scss/generic/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 232, scss/generic/_reset.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 240, scss/generic/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 263, scss/generic/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 277, scss/generic/_reset.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 288, scss/generic/_reset.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 301, scss/generic/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 313, scss/generic/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 322, scss/generic/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 333, scss/generic/_reset.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 345, scss/generic/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 357, scss/generic/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 368, scss/generic/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 381, scss/generic/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 390, scss/generic/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 401, scss/generic/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 410, scss/generic/_reset.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 419, scss/generic/_reset.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 430, scss/generic/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 435, scss/generic/_reset.scss */
td,
th {
  padding: 0;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 454, scss/generic/_reset.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 466, scss/generic/_reset.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 471, scss/generic/_reset.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 480, scss/generic/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 494, scss/generic/_reset.scss */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 506, scss/generic/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 516, scss/generic/_reset.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 524, scss/generic/_reset.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
/* line 6, scss/base/_global-classes.scss */
.cf, .l-two-col, [role=main] {
  *zoom: 1;
}

/* line 9, scss/base/_global-classes.scss */
.cf:before, .l-two-col:before, [role=main]:before, .cf:after, .l-two-col:after, [role=main]:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 14, scss/base/_global-classes.scss */
.cf:after, .l-two-col:after, [role=main]:after {
  clear: both;
}

/* Completely remove from the flow and screen readers. */
/* line 19, scss/base/_global-classes.scss */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
/* line 25, scss/base/_global-classes.scss */
.is-vishidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Floats */
/* line 30, scss/base/_global-classes.scss */
.right {
  float: right;
  padding: 0 0 1em 1em;
}

/* line 35, scss/base/_global-classes.scss */
.right-search {
  float: right;
  padding: 0 0 1em 0;
}

/* line 40, scss/base/_global-classes.scss */
.left {
  float: left;
  padding: 0 1em 1em 0;
}

/* Text-Align */
/* line 46, scss/base/_global-classes.scss */
.align-right {
  text-align: right;
}

/* line 50, scss/base/_global-classes.scss */
.align-center {
  text-align: center;
}

/* line 54, scss/base/_global-classes.scss */
.align-left {
  text-align: left;
}

/* Display Classes */
@media all and (max-width: 46.8em) {
  /* line 59, scss/base/_global-classes.scss */
  .hide-small {
    display: none;
  }
}

@media all and (min-width: 46.8em) and (max-width: 50em) {
  /* line 65, scss/base/_global-classes.scss */
  .hide-med {
    display: none;
  }
}

@media all and (min-width: 50em) {
  /* line 71, scss/base/_global-classes.scss */
  .hide-large {
    display: none;
  }
}

/* line 78, scss/base/_global-classes.scss */
.valid {
  color: #c5e5de;
}

/* line 82, scss/base/_global-classes.scss */
.error {
  color: #f5b7ab;
}

/* line 86, scss/base/_global-classes.scss */
.warning {
  color: #ffe8aa;
}

/* line 90, scss/base/_global-classes.scss */
.information {
  color: #b1e0ec;
}

/* line 94, scss/base/_global-classes.scss */
.font-secondary {
  font-family: "Raleway", Times, "Times New Roman", serif;
}

/* line 11, scss/base/_colors.scss */
.sg-swatch {
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* line 19, scss/base/_colors.scss */
.sg-swatch:before {
  font-size: 1.4em;
}

/* line 24, scss/base/_colors.scss */
.shield-blue {
  background-color: #5d84c0;
  color: #5d84c0;
}
/* line 27, scss/base/_colors.scss */
.shield-blue:hover {
  color: white;
}
/* line 30, scss/base/_colors.scss */
.shield-blue:before {
  content: "#5d84c0";
}

/* line 35, scss/base/_colors.scss */
.shield-green {
  background-color: #3ba165;
  color: #3ba165;
}
/* line 38, scss/base/_colors.scss */
.shield-green:hover {
  color: white;
}
/* line 41, scss/base/_colors.scss */
.shield-green:before {
  content: "#3ba165";
}

/* line 46, scss/base/_colors.scss */
.light-gold {
  background-color: #f9e262;
  color: #f9e262;
}
/* line 49, scss/base/_colors.scss */
.light-gold:hover {
  color: #444444;
}
/* line 52, scss/base/_colors.scss */
.light-gold:before {
  content: "#f9e262";
}

/* line 57, scss/base/_colors.scss */
.dark-gold {
  background-color: #db9c34;
  color: #db9c34;
}
/* line 60, scss/base/_colors.scss */
.dark-gold:hover {
  color: white;
}
/* line 63, scss/base/_colors.scss */
.dark-gold:before {
  content: "#db9c34";
}

/* line 68, scss/base/_colors.scss */
.flat-ruby {
  background-color: #f06a6f;
  color: #f06a6f;
}
/* line 71, scss/base/_colors.scss */
.flat-ruby:hover {
  color: #444444;
}
/* line 74, scss/base/_colors.scss */
.flat-ruby:before {
  content: "#f06a6f";
}

/* line 79, scss/base/_colors.scss */
.gray {
  background-color: #939598;
  color: #939598;
}
/* line 82, scss/base/_colors.scss */
.gray:hover {
  color: white;
}
/* line 85, scss/base/_colors.scss */
.gray:before {
  content: "#939598";
}

/* line 89, scss/base/_colors.scss */
.gray-light {
  background-color: #fbfcfc;
  color: #fbfcfc;
}
/* line 92, scss/base/_colors.scss */
.gray-light:hover {
  color: #444444;
}
/* line 95, scss/base/_colors.scss */
.gray-light:before {
  content: "#fbfcfc";
}

/* line 99, scss/base/_colors.scss */
.gray-light-2 {
  background-color: #ecf0f1;
  color: #ecf0f1;
}
/* line 102, scss/base/_colors.scss */
.gray-light-2:hover {
  color: #444444;
}
/* line 105, scss/base/_colors.scss */
.gray-light-2:before {
  content: "#ecf0f1";
}

/* line 109, scss/base/_colors.scss */
.gray-light-3 {
  background-color: #cbd0d3;
  color: #cbd0d3;
}
/* line 112, scss/base/_colors.scss */
.gray-light-3:hover {
  color: #444444;
}
/* line 115, scss/base/_colors.scss */
.gray-light-3:before {
  content: "#cbd0d3";
}

/* line 119, scss/base/_colors.scss */
.gray-med {
  background-color: #939598;
  color: #939598;
}
/* line 122, scss/base/_colors.scss */
.gray-med:hover {
  color: white;
}
/* line 125, scss/base/_colors.scss */
.gray-med:before {
  content: "#939598";
}

/* line 129, scss/base/_colors.scss */
.gray-dark {
  background-color: #5e6768;
  color: #5e6768;
}
/* line 132, scss/base/_colors.scss */
.gray-dark:hover {
  color: white;
}
/* line 135, scss/base/_colors.scss */
.gray-dark:before {
  content: "#5e6768";
}

/* line 139, scss/base/_colors.scss */
.gray-dark-2 {
  background-color: #151d1e;
  color: #151d1e;
}
/* line 142, scss/base/_colors.scss */
.gray-dark-2:hover {
  color: white;
}
/* line 145, scss/base/_colors.scss */
.gray-dark-2:before {
  content: "#151d1e";
}

/* line 153, scss/base/_colors.scss */
.sg-color-label {
  color: #151d1e;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  line-height: 3;
  cursor: default;
}

/* line 1, scss/base/_main.scss */
body {
  background: white;
  font: 100%/1.5 "Source Sans Pro", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #5e6768;
}

/* Links */
/* line 2, scss/base/_links.scss */
a {
  color: #5e6768;
  text-decoration: none;
  outline: 0;
}
/* line 7, scss/base/_links.scss */
a:hover, a:focus {
  color: #939598;
}

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
/* line 3, scss/base/_headings.scss */
h1, .alpha {
  line-height: 1.2;
}

/* line 7, scss/base/_headings.scss */
h2, .beta {
  line-height: 1.2;
}

/* line 11, scss/base/_headings.scss */
h3, .gamma {
  line-height: 1.2;
}

/* Subheadings */
/* line 28, scss/base/_headings.scss */
.subheading {
  font-family: "Raleway", Times, "Times New Roman", serif;
  font-weight: normal;
}

/* Text-Related Elements */
/* line 2, scss/base/_text.scss */
p {
  margin-bottom: 1em;
}

/* Blockquote */
/* line 7, scss/base/_text.scss */
blockquote {
  border-left: 5px solid #cbd0d3;
  padding-left: 1em;
  margin-bottom: 1em;
  font-size: 17.5px;
  font-size: 1.09375rem;
}

/* Horizontal Rule */
/* line 15, scss/base/_text.scss */
hr {
  border: 0;
  height: 2px;
  background: #ecf0f1;
  margin: 2em 0;
}

/* line 22, scss/base/_text.scss */
abbr {
  border-bottom: 1px dotted #939598;
  cursor: help;
}

/* line 27, scss/base/_text.scss */
figcaption, cite {
  color: #939598;
  font-style: normal;
  font-size: 15px;
  font-size: 0.9375rem;
}

/* line 33, scss/base/_text.scss */
figcaption:before {
  content: "\2014";
  color: #939598;
}

/* line 1, scss/base/_lists.scss */
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Definition Lists */
/* line 1357, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
dl > dt {
  clear: both;
  float: left;
}
/* line 1360, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
dl > dt:after {
  content: "\2014";
  margin-right: 0.5em;
  margin-left: 0.5em;
}
/* line 1369, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
dl > dd {
  margin-left: 8em;
  margin-bottom: 1em;
}
/* line 10, scss/base/_lists.scss */
dl > dt {
  font-weight: bold;
}

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* line 5, scss/base/_media.scss */
img.avatar {
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  height: 4em;
  width: 4em;
  border: 1px solid #e7e7e7;
}

/* Flexible Media */
/* line 11, scss/base/_media.scss */
img, video, object {
  max-width: 100%;
  height: auto;
}

/* line 16, scss/base/_media.scss */
iframe {
  margin-bottom: 1em;
}

/* line 20, scss/base/_media.scss */
figure {
  margin-bottom: 1em;
}
/* line 22, scss/base/_media.scss */
figure img {
  margin-bottom: 0.5em;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/* line 4, scss/base/_forms.scss */
form ol, form ul {
  list-style: none;
  margin-left: 0;
}

/* line 9, scss/base/_forms.scss */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 20, scss/base/_forms.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0 1px 0;
}

/* line 26, scss/base/_forms.scss */
input, textarea {
  width: 100%;
  padding: 0.5em 0.65rem;
}

/* line 59, scss/base/_forms.scss */
.field-container {
  margin-bottom: 1em;
}

/* line 64, scss/base/_forms.scss */
.inline-form fieldset, .inline-form .inline-container {
  position: relative;
}

/* Validation */
/* line 88, scss/base/_forms.scss */
.field-container input.is-error {
  border-color: #ea6950;
}
/* line 91, scss/base/_forms.scss */
.field-container input.is-valid {
  border-color: #7fc5b6;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* Search Form */
/* line 120, scss/base/_forms.scss */
input[type="newsletter"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ecf0f1;
  box-shadow: inset 0 1px 1px #eee;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
/* line 151, scss/base/_forms.scss */
input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px #eee;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
/* line 165, scss/base/_forms.scss */
input[type="color"] {
  padding: 0.2em 0.5em;
}

/* line 170, scss/base/_forms.scss */
input[type="newsletter"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  border-color: #5d84c0;
}
/* line 191, scss/base/_forms.scss */
input[type="newsletter"]:focus.is-error,
input[type="text"]:focus.is-error,
input[type="password"]:focus.is-error,
input[type="email"]:focus.is-error,
input[type="url"]:focus.is-error,
input[type="date"]:focus.is-error,
input[type="month"]:focus.is-error,
input[type="time"]:focus.is-error,
input[type="datetime"]:focus.is-error,
input[type="datetime-local"]:focus.is-error,
input[type="week"]:focus.is-error,
input[type="number"]:focus.is-error,
input[type="search"]:focus.is-error,
input[type="tel"]:focus.is-error,
input[type="color"]:focus.is-error,
select:focus.is-error,
textarea:focus.is-error {
  border-color: #f5b7ab;
}
/* line 195, scss/base/_forms.scss */
input[type="newsletter"]:focus.is-valid,
input[type="text"]:focus.is-valid,
input[type="password"]:focus.is-valid,
input[type="email"]:focus.is-valid,
input[type="url"]:focus.is-valid,
input[type="date"]:focus.is-valid,
input[type="month"]:focus.is-valid,
input[type="time"]:focus.is-valid,
input[type="datetime"]:focus.is-valid,
input[type="datetime-local"]:focus.is-valid,
input[type="week"]:focus.is-valid,
input[type="number"]:focus.is-valid,
input[type="search"]:focus.is-valid,
input[type="tel"]:focus.is-valid,
input[type="color"]:focus.is-valid,
select:focus.is-valid,
textarea:focus.is-valid {
  border-color: #c5e5de;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
/* line 204, scss/base/_forms.scss */
input:not([type]):focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  border-color: #5d84c0;
}

/* line 210, scss/base/_forms.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 1px auto #5d84c0;
}

/* line 216, scss/base/_forms.scss */
checkbox,
radio {
  margin: 0.5em 0;
  display: block;
}

/* line 222, scss/base/_forms.scss */
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/* line 243, scss/base/_forms.scss */
input#ic {
  width: 50px;
  padding: 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
/* line 252, scss/base/_forms.scss */
input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/* line 257, scss/base/_forms.scss */
input[readonly],
select[readonly],
textarea[readonly] {
  background: #eee;
  /* menu hover bg color */
  color: #777;
  /* menu text color */
  border-color: #ccc;
}

/* line 265, scss/base/_forms.scss */
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

/* line 271, scss/base/_forms.scss */
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
}

/* line 276, scss/base/_forms.scss */
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}

/* line 281, scss/base/_forms.scss */
select {
  border: 1px solid #ccc;
  background-color: white;
}

/* line 285, scss/base/_forms.scss */
select[multiple] {
  height: auto;
}

/* line 288, scss/base/_forms.scss */
label {
  margin: 0.5em 0 0.2em;
}

/* line 291, scss/base/_forms.scss */
fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

/* line 296, scss/base/_forms.scss */
legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

/* line 306, scss/base/_forms.scss */
.search-form {
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../var/lib/gems/1.9.1/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.search-form:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 311, scss/base/_forms.scss */
input[type="search"].search-field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 0;
  height: 38px;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  background-clip: padding-box;
}

/* line 318, scss/base/_forms.scss */
input[type="submit"].search-submit {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  background-clip: padding-box;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  height: 38px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5d84c0;
  color: #fff;
}

/*------------------------------------*\
    $Table
\*------------------------------------*/
/* line 21, scss/base/_tables.scss */
.pure-table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

/* line 29, scss/base/_tables.scss */
.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

/* line 36, scss/base/_tables.scss */
.pure-table td,
.pure-table th {
  border-left: 1px solid #cbcbcb;
  /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */
}

/* line 45, scss/base/_tables.scss */
.pure-table td:first-child,
.pure-table th:first-child {
  border-left-width: 0;
}

/* line 50, scss/base/_tables.scss */
.pure-table thead {
  background: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
/* line 62, scss/base/_tables.scss */
.pure-table td {
  background-color: transparent;
}

/* line 65, scss/base/_tables.scss */
.pure-table-odd td {
  background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
/* line 70, scss/base/_tables.scss */
.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* line 74, scss/base/_tables.scss */
.pure-table tfoot th {
  border-top: 1px solid #cbcbcb;
}

/* BORDERED TABLES */
/* line 78, scss/base/_tables.scss */
.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}

/* line 81, scss/base/_tables.scss */
.pure-table-bordered tbody > tr:last-child td,
.pure-table-horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
/* line 89, scss/base/_tables.scss */
.pure-table-horizontal td,
.pure-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}

/* line 94, scss/base/_tables.scss */
.pure-table-horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}

/* line 1, scss/base/_animation.scss */
.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* line 4, scss/base/_animation.scss */
.animate-fade:hover {
  opacity: 0;
}

/* line 10, scss/base/_animation.scss */
.animate-move > .demo-shape {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* Layout Container */
/* line 6, scss/objects/_layout.scss */
.lc, .header, [role=main] {
  max-width: 72em;
  margin: 0 auto;
  padding: 0.5em;
}

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/
/* Two Column Layout */
@media all and (min-width: 50em) {
  /* line 20, scss/objects/_layout.scss */
  .l-two-col .l-main {
    float: left;
    width: 70%;
    padding-right: 1em;
  }
}
@media all and (max-width: 50em) {
  /* line 28, scss/objects/_layout.scss */
  .l-two-col .l-sidebar {
    clear: both;
  }
}
@media all and (min-width: 50em) {
  /* line 28, scss/objects/_layout.scss */
  .l-two-col .l-sidebar {
    float: left;
    width: 30%;
    padding: 0 0 0 1em;
  }
}

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/* Grid Container */
/* line 291, scss/objects/_layout.scss */
.grid-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../var/lib/gems/1.9.1/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.grid-container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 296, scss/objects/_layout.scss */
[class*="columns-"] {
  background-color: #ecf0f1;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 1em;
  color: #5e6768;
}

/* line 304, scss/objects/_layout.scss */
.columns-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 307, scss/objects/_layout.scss */
.columns-11 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 310, scss/objects/_layout.scss */
.columns-10 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 313, scss/objects/_layout.scss */
.columns-9 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 316, scss/objects/_layout.scss */
.columns-8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 319, scss/objects/_layout.scss */
.columns-7 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 322, scss/objects/_layout.scss */
.columns-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 325, scss/objects/_layout.scss */
.columns-5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 328, scss/objects/_layout.scss */
.columns-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 331, scss/objects/_layout.scss */
.columns-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 334, scss/objects/_layout.scss */
.columns-2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 337, scss/objects/_layout.scss */
.columns-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 342, scss/objects/_layout.scss */
[class*="columns-"]:last-child {
  float: right;
}

/* line 346, scss/objects/_layout.scss */
.demo [class*="columns-"]:nth-of-type(2n) {
  background-color: #5e6768;
  color: #ecf0f1;
}

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
/* line 1, scss/objects/_header.scss */
.header {
  background: white;
  padding: 0;
  border-bottom: 1px solid #dbdbdb;
}

/* line 8, scss/objects/_header.scss */
.logo {
  float: left;
  max-width: 8rem;
  margin: 0.4rem;
}
@media all and (min-width: 46.8em) {
  /* line 8, scss/objects/_header.scss */
  .logo {
    max-width: 9rem;
  }
}

/* line 18, scss/objects/_header.scss */
.nav-toggle {
  float: right;
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb;
}
@media all and (min-width: 46.8em) {
  /* line 18, scss/objects/_header.scss */
  .nav-toggle {
    display: none;
  }
}
@media all and (max-width: 17em) {
  /* line 18, scss/objects/_header.scss */
  .nav-toggle {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
/* line 5, scss/objects/_nav.scss */
.nav {
  clear: both;
  overflow: hidden;
  max-height: 0;
}
/* line 10, scss/objects/_nav.scss */
.nav a {
  display: block;
  padding: 1em;
  border-top: 1px solid #ecf0f1;
}
/* line 16, scss/objects/_nav.scss */
.nav.active {
  max-height: 40em;
}
@media all and (min-width: 46.8em) {
  /* line 5, scss/objects/_nav.scss */
  .nav {
    max-height: none;
    float: right;
    clear: none;
  }
  /* line 25, scss/objects/_nav.scss */
  .nav li {
    float: left;
  }
  /* line 29, scss/objects/_nav.scss */
  .nav a {
    border: 0;
  }
}

/* line 37, scss/objects/_nav.scss */
.pagination {
  overflow: hidden;
}
/* line 40, scss/objects/_nav.scss */
.pagination li {
  float: left;
  border-right: 1px solid #ecf0f1;
}
/* line 44, scss/objects/_nav.scss */
.pagination li:last-child {
  border: 0;
}
/* line 49, scss/objects/_nav.scss */
.pagination a {
  padding: 1em;
}

/* line 55, scss/objects/_nav.scss */
.breadcrumbs {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 10, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}
/* line 49, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.breadcrumbs > li {
  float: left;
}
/* line 782, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.breadcrumbs > li + li:before {
  content: "/";
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
/* line 4, scss/objects/_main.scss */
[role=main] {
  padding: 0.5em 0.5em 2em;
  overflow: hidden;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/* line 4, scss/objects/_footer.scss */
.footer {
  clear: both;
  overflow: hidden;
  background: #151d1e;
  color: white;
  line-height: 1.2;
}
/* line 11, scss/objects/_footer.scss */
.footer a {
  color: #fbfcfc;
}

/* line 17, scss/objects/_footer.scss */
.nav-footer {
  margin: -1em -1em 1em;
}
/* line 20, scss/objects/_footer.scss */
.nav-footer li {
  border-bottom: 1px solid #5e6768;
}
@media all and (min-width: 46.8em) {
  /* line 20, scss/objects/_footer.scss */
  .nav-footer li {
    border: 0;
    float: left;
  }
}
/* line 29, scss/objects/_footer.scss */
.nav-footer a {
  display: block;
  padding: 1em;
}

@media all and (min-width: 46.8em) {
  /* line 35, scss/objects/_footer.scss */
  .copyright {
    float: right;
  }
}

/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
/* line 2, scss/objects/_text.scss */
.intro {
  font-size: 1.0625em;
  font-weight: bold;
}

/* line 8, scss/objects/_text.scss */
.pullquote {
  font-family: "Raleway", Times, "Times New Roman", serif;
  font-size: 1.4375em;
}

/* line 14, scss/objects/_text.scss */
.caption {
  font-style: italic;
}

/* line 20, scss/objects/_text.scss */
.text a {
  text-decoration: underline;
}
/* line 24, scss/objects/_text.scss */
.text ul {
  list-style: disc;
  margin: 0 0 1em 1.2em;
}
/* line 28, scss/objects/_text.scss */
.text ul ul {
  margin-bottom: 0;
}
/* line 33, scss/objects/_text.scss */
.text ol {
  list-style: decimal;
  margin: 0 0 1em 1.5em;
}
/* line 37, scss/objects/_text.scss */
.text ol ol {
  margin-bottom: 0;
}

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/* Icon Font */
/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 127, scss/objects/_icons.scss */
.icon-bar li {
  margin: 1em;
  font-size: 1.8em;
}

/* line 132, scss/objects/_icons.scss */
.fa-twitter {
  color: #40A8D0;
}
/* line 134, scss/objects/_icons.scss */
.fa-twitter:hover {
  color: #69bbda;
}

/* line 139, scss/objects/_icons.scss */
.fa-facebook-square {
  color: #4862A1;
}
/* line 141, scss/objects/_icons.scss */
.fa-facebook-square:hover {
  color: #637cb9;
}

/* line 146, scss/objects/_icons.scss */
.fa-linkedin {
  color: #1C85C2;
}
/* line 148, scss/objects/_icons.scss */
.fa-linkedin:hover {
  color: #30a0e1;
}

/* line 153, scss/objects/_icons.scss */
.fa-pinterest {
  color: #FB2848;
}
/* line 155, scss/objects/_icons.scss */
.fa-pinterest:hover {
  color: #fc5a73;
}

/* line 160, scss/objects/_icons.scss */
.fa-google-plus {
  color: #DF5241;
}
/* line 162, scss/objects/_icons.scss */
.fa-google-plus:hover {
  color: #e67a6d;
}

/* line 167, scss/objects/_icons.scss */
.fa-youtube {
  color: #E2544C;
}
/* line 169, scss/objects/_icons.scss */
.fa-youtube:hover {
  color: #e97e78;
}

/* line 174, scss/objects/_icons.scss */
.fa-rss {
  color: #F4B83E;
}
/* line 176, scss/objects/_icons.scss */
.fa-rss:hover {
  color: #f7ca6e;
}

/* line 182, scss/objects/_icons.scss */
.fa-play-circle-o {
  color: #1AAF87;
}
/* line 184, scss/objects/_icons.scss */
.fa-play-circle-o:hover {
  color: #21dba9;
}

/* line 189, scss/objects/_icons.scss */
.fa-file-excel-o {
  color: #84C46B;
}
/* line 191, scss/objects/_icons.scss */
.fa-file-excel-o:hover {
  color: #a2d38f;
}

/* line 196, scss/objects/_icons.scss */
.fa-file-word-o {
  color: #2980B8;
}
/* line 198, scss/objects/_icons.scss */
.fa-file-word-o:hover {
  color: #409ad4;
}

/* line 203, scss/objects/_icons.scss */
.fa-file-powerpoint-o {
  color: #DC5800;
}
/* line 205, scss/objects/_icons.scss */
.fa-file-powerpoint-o:hover {
  color: #ff7010;
}

/* line 210, scss/objects/_icons.scss */
.fa-file-pdf-o {
  color: #C45052;
}
/* line 212, scss/objects/_icons.scss */
.fa-file-pdf-o:hover {
  color: #d17678;
}

/* line 218, scss/objects/_icons.scss */
.fav-bar {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 10, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.fav-bar:after {
  content: "";
  display: table;
  clear: both;
}
/* line 49, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.fav-bar > li {
  float: left;
}
/* line 766, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.fav-bar > li {
  height: 10em;
}
/* line 769, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.fav-bar > li:before {
  height: 10em;
  content: "";
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
}
/* line 776, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.fav-bar > li:first-child:before {
  width: 0;
  overflow: hidden;
}
/* line 782, ../../../../../../../../../var/lib/gems/1.9.1/gems/scut-0.10.3/dist/_scut.scss */
.fav-bar > li + li:before {
  margin-left: 1em;
  margin-right: 1em;
}

/* line 225, scss/objects/_icons.scss */
.fav-bar > li > img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 230, scss/objects/_icons.scss */
.mobile-favicon {
  max-width: 64px;
  height: auto;
}

/* line 235, scss/objects/_icons.scss */
.logo-full {
  max-width: 152px;
  height: auto;
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/* line 42, scss/objects/_buttons.scss */
input[type="submit"], .btn, .social-share a {
  display: inline-block;
  *display: inline;
  /*IE 6/7*/
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%;
  /*IE 6/7 - To reduce IE's oversized button text*/
  *overflow: visible;
  /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
  padding: 0.5em 1em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  *color: #444;
  /* IE 6 & 7 */
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none transparent;
  /*IE9 + everything else*/
  background-color: #ecf0f1;
  text-decoration: none;
  border-radius: 2px;
}
/* line 71, scss/objects/_buttons.scss */
input[type="submit"]:hover, input[type="submit"]:focus, .btn:hover, .social-share a:hover, .btn:focus, .social-share a:focus {
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  *color: #444;
  /* IE 6 & 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, left, color-stop(40%, rgba(0, 0, 0, 0.05)), right);
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
/* line 83, scss/objects/_buttons.scss */
input[type="submit"].disabled, .btn.disabled, .social-share a.disabled {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
}

/* line 96, scss/objects/_buttons.scss */
.btn-small {
  padding: 0.5em;
}

/* line 100, scss/objects/_buttons.scss */
.btn-large {
  padding: 0.5em;
  text-transform: uppercase;
  background: #939598;
  font-size: 1.4rem;
  font-weight: normal;
}

/* line 109, scss/objects/_buttons.scss */
.text-btn {
  font-style: italic;
}

/* line 113, scss/objects/_buttons.scss */
.btn.alt, .social-share a.alt {
  background-color: #5d84c0;
  color: #fff;
}

/* Firefox: Get rid of the inner focus border */
/* line 120, scss/objects/_buttons.scss */
.btn::-moz-focus-inner, .social-share a::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 126, scss/objects/_buttons.scss */
.btn:focus, .social-share a:focus, input[type="submit"]:focus {
  outline: 0;
}

/* line 129, scss/objects/_buttons.scss */
.btn:active, .social-share a:active, input[type="submit"]:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}

/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
/* line 2, scss/objects/_blocks.scss */
.brick {
  background: #dcdddc;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ecf0f1;
}

/* Block */
/* line 11, scss/objects/_blocks.scss */
.block {
  overflow: hidden;
}
/* line 14, scss/objects/_blocks.scss */
.block p:last-child {
  margin-bottom: 0;
}

/* line 19, scss/objects/_blocks.scss */
.headline {
  line-height: 1.2;
}

/* Hero Block */
/* line 24, scss/objects/_blocks.scss */
.block-hero {
  margin-bottom: 0.5em;
}
/* line 28, scss/objects/_blocks.scss */
.block-hero .b-thumb img {
  display: block;
}
@media all and (min-width: 50em) {
  /* line 24, scss/objects/_blocks.scss */
  .block-hero {
    position: relative;
  }
  /* line 36, scss/objects/_blocks.scss */
  .block-hero .b-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 1.5em;
  }
}

/* Block Thumbnail with Headline */
/* line 49, scss/objects/_blocks.scss */
.block-thumb {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
/* line 54, scss/objects/_blocks.scss */
.block-thumb .b-inner {
  display: table-row;
  vertical-align: top;
  overflow: hidden;
}
@media all and (min-width: 29.75em) {
  /* line 60, scss/objects/_blocks.scss */
  .block-thumb .b-thumb {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    max-width: 10em;
  }
  /* line 67, scss/objects/_blocks.scss */
  .block-thumb .b-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media all and (min-width: 29.75em) {
  /* line 75, scss/objects/_blocks.scss */
  .block-thumb .b-text {
    display: table-cell;
    width: 70%;
    padding: 0 1em;
  }
}

/* Block Headline Summary */
/* line 87, scss/objects/_blocks.scss */
.block-headline-summary a {
  display: block;
  padding: 0.5em;
}

/* Block Inset */
/* line 94, scss/objects/_blocks.scss */
.block-inset {
  position: relative;
}
/* line 97, scss/objects/_blocks.scss */
.block-inset .b-thumb {
  position: relative;
  z-index: 0;
}
/* line 101, scss/objects/_blocks.scss */
.block-inset .b-thumb img {
  display: block;
}

/* Hero Block */
/* line 108, scss/objects/_blocks.scss */
.block-inset {
  margin-bottom: 0.5em;
  position: relative;
}
/* line 112, scss/objects/_blocks.scss */
.block-inset .headline {
  font-size: 1.1em;
}
/* line 116, scss/objects/_blocks.scss */
.block-inset .b-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0.5em;
}

/* Block Thumb with Summary */
/* line 129, scss/objects/_blocks.scss */
.block-thumb-summary .b-thumb {
  float: left;
  width: 50%;
}
/* line 134, scss/objects/_blocks.scss */
.block-thumb-summary .b-text {
  margin-left: 50%;
  padding: 0.5em;
}

/* line 2, scss/objects/_lists.scss */
.inline-list li {
  display: inline-block;
}

/* Social List */
/* line 9, scss/objects/_lists.scss */
.social-list li {
  margin: 0 0.4rem 1em 0;
}
/* line 13, scss/objects/_lists.scss */
.social-list a {
  font-size: 1.6em;
}

/* Headline List */
/* line 20, scss/objects/_lists.scss */
.headline-list {
  margin-bottom: 1em;
}
/* line 23, scss/objects/_lists.scss */
.headline-list.flush {
  margin: 0;
}
/* line 27, scss/objects/_lists.scss */
.headline-list h4 {
  font-weight: normal;
}
/* line 31, scss/objects/_lists.scss */
.headline-list li {
  padding: 0.25em 0;
  border-top: 1px solid #cbd0d3;
}

/* Post List */
/* line 39, scss/objects/_lists.scss */
.post-list li {
  margin-bottom: 1em;
}

/* Bullet List */
/* line 45, scss/objects/_lists.scss */
.bullet-list {
  list-style: square;
  margin: 0 0 1em 1.2em;
  line-height: 1.3;
}
/* line 50, scss/objects/_lists.scss */
.bullet-list li {
  margin-bottom: 1em;
}

/* Text List */
/* line 56, scss/objects/_lists.scss */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3;
}
/* line 60, scss/objects/_lists.scss */
.text-list li {
  margin-bottom: 1em;
}

/* line 1, scss/objects/_tooltip.scss */
.tooltip-container {
  display: inline-block;
  position: relative;
}
/* line 6, scss/objects/_tooltip.scss */
.tooltip-container:hover .tooltip {
  display: block;
}

/* line 12, scss/objects/_tooltip.scss */
.tooltip-link {
  background: #fbfcfc;
}

/* line 16, scss/objects/_tooltip.scss */
.tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 18em;
  padding: 1em;
  background: white;
  border: 1px solid #939598;
  box-shadow: 0.3em 0.3em 1em 0 rgba(0, 0, 0, 0.2);
}
/* line 27, scss/objects/_tooltip.scss */
.tooltip h2 {
  margin-top: 0;
}
@media all and (min-width: 24em) {
  /* line 16, scss/objects/_tooltip.scss */
  .tooltip {
    width: 22em;
  }
}
@media all and (min-width: 29.75em) {
  /* line 16, scss/objects/_tooltip.scss */
  .tooltip {
    width: 27em;
  }
}
@media all and (min-width: 39.8em) {
  /* line 16, scss/objects/_tooltip.scss */
  .tooltip {
    width: 30em;
  }
}

/* line 1, scss/objects/_accordion.scss */
.accordion {
  margin-bottom: 1em;
}

/* line 5, scss/objects/_accordion.scss */
.acc-handle {
  background: #151d1e;
  color: white;
  font-family: "Raleway", Times, "Times New Roman", serif;
  font-weight: bold;
  display: block;
  position: relative;
  padding: 0.5em;
  border-bottom: 1px solid #cbd0d3;
}
/* line 15, scss/objects/_accordion.scss */
.acc-handle:after {
  content: "+";
  float: right;
}
/* line 20, scss/objects/_accordion.scss */
.acc-handle:hover {
  color: white;
  background: #5e6768;
}
/* line 26, scss/objects/_accordion.scss */
.acc-handle.active {
  background: #5e6768;
}
/* line 29, scss/objects/_accordion.scss */
.acc-handle.active:after {
  content: "-";
}

/* line 1, scss/objects/_tabs.scss */
.tabs {
  overflow: hidden;
}
/* line 4, scss/objects/_tabs.scss */
.tabs ul {
  display: table;
  width: 100%;
}
/* line 9, scss/objects/_tabs.scss */
.tabs li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #cbd0d3;
}
/* line 14, scss/objects/_tabs.scss */
.tabs li:last-child {
  border-right: 0;
}
/* line 19, scss/objects/_tabs.scss */
.tabs a {
  display: block;
  padding: 0.5em;
  background: #939598;
}
/* line 24, scss/objects/_tabs.scss */
.tabs a:hover, .tabs a:focus {
  background: #cbd0d3;
}
/* line 28, scss/objects/_tabs.scss */
.tabs a.active {
  background: #5e6768;
  color: white;
}

/* line 1, scss/objects/_sections.scss */
.section {
  margin: 0 0 1em;
}

/* line 5, scss/objects/_sections.scss */
.section-title {
  margin-bottom: 0.5em;
}

/* line 3, scss/objects/_article.scss */
.article-header h1 {
  font-size: 2.5em;
}

/* line 8, scss/objects/_article.scss */
.byline {
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 0.5em;
}

/* line 15, scss/objects/_article.scss */
.social-share {
  overflow: hidden;
  margin-bottom: 1em;
}
/* line 19, scss/objects/_article.scss */
.social-share li {
  float: left;
  margin-right: 0.5em;
}

/* line 2, scss/objects/_comments.scss */
.comments li {
  margin-bottom: 1em;
}

/* line 7, scss/objects/_comments.scss */
.comment-container {
  overflow: hidden;
  margin-bottom: 1em;
  list-style: none;
}

/* line 13, scss/objects/_comments.scss */
.comment-meta {
  float: left;
  width: 6.5em;
}
/* line 17, scss/objects/_comments.scss */
.comment-meta img {
  display: block;
  border: 1px solid #ecf0f1;
  margin-bottom: 0.5em;
}

/* line 24, scss/objects/_comments.scss */
.comment-name {
  font-size: 0.75em;
}

/* line 28, scss/objects/_comments.scss */
.comment-text {
  margin-left: 9em;
}

/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/
/* line 6, scss/objects/_messaging.scss */
.alert {
  padding-left: 2em;
  margin-bottom: 0.5em;
  color: #5e6768;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  position: relative;
}

/* line 14, scss/objects/_messaging.scss */
.alert-error {
  background: #f5b7ab;
}

/* line 18, scss/objects/_messaging.scss */
.alert-information {
  background: #b1e0ec;
}

/* line 22, scss/objects/_messaging.scss */
.alert-valid {
  background: #c5e5de;
}

/* line 26, scss/objects/_messaging.scss */
.alert-warning {
  background: #ffe8aa;
}

/* line 30, scss/objects/_messaging.scss */
.alert p {
  display: inline-block;
  margin-left: 4em;
  cursor: default;
}

/* line 36, scss/objects/_messaging.scss */
.alert:before {
  display: inline-block;
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 47, scss/objects/_messaging.scss */
.alert-error:before {
  content: "\f057";
  color: #ea6950;
}

/* line 52, scss/objects/_messaging.scss */
.alert-information:before {
  content: "\f05a";
  color: #5fbfd8;
}

/* line 57, scss/objects/_messaging.scss */
.alert-valid:before {
  content: "\f058";
  color: #7fc5b6;
}

/* line 62, scss/objects/_messaging.scss */
.alert-warning:before {
  content: "\f06a";
  color: #ffcc44;
}
