&lt;!-- Begin .header --&gt;
&lt;header id=&quot;header&quot; class=&quot;site-header&quot; role=&quot;banner&quot;&gt;
&lt;nav id=&quot;menu-primary&quot; class=&quot;menu&quot; role=&quot;navigation&quot; itemscope=&quot;itemscope&quot; itemtype=&quot;http://schema.org/SiteNavigationElement&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot; class=&quot;logo&quot;&gt;
      {{&gt; atoms-favicon-32x32 }}
    &lt;/a&gt;
{{&gt; molecules-primary-nav }}
    &lt;div class=&quot;navigation-tools&quot;&gt;
{{&gt; molecules-search }}
  &lt;/div&gt;
	&lt;/nav&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;




