&lt;figure class=&quot;quote&quot;&gt;
	&lt;blockquote&gt;
	   	&lt;p&gt;I like it when someone tells me &quot;I don't agree.&quot; This is a true collaborator. When they say &quot;Oh, how great, how great, how great,&quot; that's not useful. &lt;/p&gt;
		&lt;figcaption&gt;&lt;cite&gt;Pope Francis&lt;/cite&gt;&lt;/figcaption&gt;
	&lt;/blockquote&gt;
&lt;/figure&gt;