&lt;figure class=&quot;quote&quot;&gt;
	&lt;blockquote&gt;
	   	&lt;p&gt;A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. &lt;/p&gt;
		&lt;figcaption&gt;Sherlock Holmes, &lt;cite&gt;Sign of Four&lt;/cite&gt;&lt;/figcaption&gt;
	&lt;/blockquote&gt;
&lt;/figure&gt;