<div class="main grid">
<header class="entry-header u-size-1">
	<h1 class="entry-title" itemprop="headline">Section Title</h1>
</header>
<div class="entry-content u-size-1">
   	<p class="fa divider-icon">&#xf132<span>t</span></p>
   	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, optio, ad, voluptates repudiandae at excepturi error delectus explicabo nulla eum provident quibusdam ipsum sapiente culpa sequi quia unde fuga id.</p>
</div>
