&lt;div class=&quot;demo&quot;&gt;
	&lt;!--Grid 4up--&gt;
	&lt;div class=&quot;grid&quot;&gt;
		&lt;div class=&quot;u-size-1of2 u-size-1of4-md&quot;&gt;&lt;span class=&quot;hide-small&quot;&gt;1 of 4 Columns (large-screen)&lt;/span&gt;&lt;span class=&quot;hide-med hide-large&quot;&gt;1 of 2 Columns (small-screen)&lt;/span&gt;&lt;/div&gt;
		&lt;div class=&quot;u-size-1of2 u-size-1of4-md&quot;&gt;&lt;span class=&quot;hide-small&quot;&gt;1 of 4 Columns (large-screen)&lt;/span&gt;&lt;span class=&quot;hide-med hide-large&quot;&gt;1 of 2 Columns (small-screen)&lt;/span&gt;&lt;/div&gt;
		&lt;div class=&quot;u-size-1of2 u-size-1of4-md&quot;&gt;&lt;span class=&quot;hide-small&quot;&gt;1 of 4 Columns (large-screen)&lt;/span&gt;&lt;span class=&quot;hide-med hide-large&quot;&gt;1 of 2 Columns (small-screen)&lt;/span&gt;&lt;/div&gt;
		&lt;div class=&quot;u-size-1of2 u-size-1of4-md&quot;&gt;&lt;span class=&quot;hide-small&quot;&gt;1 of 4 Columns (large-screen)&lt;/span&gt;&lt;span class=&quot;hide-med hide-large&quot;&gt;1 of 2 Columns (small-screen)&lt;/span&gt;&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;