&lt;nav class=&quot;pagination loop-pagination&quot;&gt;
&lt;a class=&quot;prev page-numbers&quot; href=&quot;{{ url }}&quot;&gt;Previous&lt;/a&gt;
&lt;a class=&quot;page-numbers&quot; href=&quot;{{ url }}&quot;&gt;1&lt;/a&gt;
&lt;span class=&quot;page-numbers current&quot;&gt;2&lt;/span&gt;
&lt;a class=&quot;page-numbers&quot; href=&quot;{{ url }}&quot;&gt;3&lt;/a&gt;
&lt;span class=&quot;page-numbers dots&quot;&gt;&hellip;&lt;/span&gt;
&lt;a class=&quot;page-numbers&quot; href=&quot;{{ url }}&quot;&gt;6&lt;/a&gt;
&lt;a class=&quot;next page-numbers&quot; href=&quot;{{ url }}&quot;&gt;Next&lt;/a&gt;
&lt;/nav&gt;
