<section class="comments-template">
	<div class="comments-container" id="comments-container">
	<div class="comments">
		<h3 id="comments-number" class="section-title">5 Comments</h3>
		
		<ol class="comment-list">
			{{# listItems.five }}
				{{> molecules-single-comment }} 
			{{/ listItems.five }}
		</ol>
		</div>
		{{> molecules-comment-form }} 
	</div>
	{{> molecules-pagination }} 
</section>