<div class="alert alert-error">
	<p>
	This is an <strong>error</strong> alert
	</p>
</div>

<div class="alert alert-information">
	<p>
	This is an <strong>info</strong> alert
	</p>
</div>

<div class="alert alert-valid">
	<p>
	This is a <strong>success</strong> alert
	</p>
</div>

<div class="alert alert-warning">
	<p>
	This is a <strong>warning</strong> alert
	</p>
</div>