<div class="alert alert-error">
	<p>
	<strong>This is an error alert</strong>
	</p>
</div>

<div class="alert alert-information">
	<p>
	<strong>This is an info alert</strong>
	</p>
</div>

<div class="alert alert-valid">
	<p>
	<strong>This is a success alert</strong>
	</p>
</div>

<div class="alert alert-warning">
	<p>
	<strong>This is a warning alert</strong>
	</p>
</div>