<div class="alert alert-error">
	{{ excerpt.short }}
</div>

<div class="alert alert-information">
	{{ excerpt.short }}
</div>

<div class="alert alert-valid">
	{{ excerpt.short }}
</div>

<div class="alert alert-warning">
	{{ excerpt.short }}
</div>