<div class="demo">
	<!--Grid 3up-->
	<div class="grid-container">
		<div class="columns-4">4 of 12 Columns</div>
		<div class="columns-4">4 of 12 Columns</div>
		<div class="columns-4">4 of 12 Columns</div>
	</div>
</div>