<div class="demo">
	<!--Grid 3up-->
	<div class="grid">
    <div class="u-size-1 u-size-1of3-md"><span class="hide-small">1 of 3 Columns (large-screen)</span><span class="hide-med hide-large">1 of 1 Columns (small-screen)</span></div>
    <div class="u-size-1 u-size-1of3-md"><span class="hide-small">1 of 3 Columns (large-screen)</span><span class="hide-med hide-large">1 of 1 Columns (small-screen)</span></div>
    <div class="u-size-1 u-size-1of3-md"><span class="hide-small">1 of 3 Columns (large-screen)</span><span class="hide-med hide-large">1 of 1 Columns (small-screen)</span></div>
	</div>
</div>