<div class="demo">
	<!--Grid 4up-->
	<div class="grid">
		<div class="u-size-1of2 u-size-1of4-md"><span class="hide-small">1 of 4 Columns (large-screen)</span><span class="hide-med hide-large">1 of 2 Columns (small-screen)</span></div>
		<div class="u-size-1of2 u-size-1of4-md"><span class="hide-small">1 of 4 Columns (large-screen)</span><span class="hide-med hide-large">1 of 2 Columns (small-screen)</span></div>
		<div class="u-size-1of2 u-size-1of4-md"><span class="hide-small">1 of 4 Columns (large-screen)</span><span class="hide-med hide-large">1 of 2 Columns (small-screen)</span></div>
		<div class="u-size-1of2 u-size-1of4-md"><span class="hide-small">1 of 4 Columns (large-screen)</span><span class="hide-med hide-large">1 of 2 Columns (small-screen)</span></div>
	</div>
</div>