<div class="demo">
	<!--Grid 4up-->
	<div class="grid-container">
		<div class="columns-3">3 of 12 Columns</div>
		<div class="columns-3">3 of 12 Columns</div>
		<div class="columns-3">3 of 12 Columns</div>
		<div class="columns-3">3 of 12 Columns</div>
	</div>
</div>