/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

// Alerts
.alert {
	padding-left: 2em;
	margin-bottom: $space-half;
	color: $gray-dark;
	@include border-radius(6px);
	position: relative;
}

.alert-error {
	background: $error;
}

.alert-information {
	background: $information;
}

.alert-valid {
	background: $valid;
}

.alert-warning {
	background: $warning;
}

.alert p {
display: inline-block;
margin-left: 4em;
cursor: default;
}

.alert:before {
display: inline-block;
font-family: FontAwesome;
@include scut-center-transform(y);
font-size: 2em;
font-style: normal;
font-weight: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.alert-error:before {
content: "\f057";
color: darken($error, 20);
}

.alert-information:before {
content: "\f05a";
color: darken($information, 20);
}

.alert-valid:before {
content: "\f058";
color: darken($valid, 20);
}

.alert-warning:before {
content: "\f06a";
color: darken($warning, 20);
}