&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch shield-blue&quot;&gt;
		&lt;span class=&quot;sg-color-label&quot;&gt;Shield Blue&lt;/span&gt;
		&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch shield-green&quot;&gt;
		&lt;span class=&quot;sg-color-label&quot;&gt;Shield Green&lt;/span&gt;
		&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch light-gold&quot;&gt;
		&lt;span class=&quot;sg-color-label&quot;&gt;Light Gold&lt;/span&gt;
		&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch dark-gold&quot;&gt;
		&lt;span class=&quot;sg-color-label&quot;&gt;Dark Gold&lt;/span&gt;
		&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch flat-ruby&quot;&gt;
		&lt;span class=&quot;sg-color-label&quot;&gt;Flat Ruby&lt;/span&gt;
		&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch gray-light&quot;&gt;
		&lt;span class=&quot;sg-color-label&quot;&gt;gray-light&lt;/span&gt;
		&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch gray-light-2&quot;&gt;
		&lt;span class=&quot;sg-color-label&quot;&gt;gray-light-2&lt;/span&gt;
		&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch gray-light-3&quot;&gt;
		&lt;span class=&quot;sg-color-label&quot;&gt;gray-light-3&lt;/span&gt;
		&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch gray-med&quot;&gt;
		&lt;span class=&quot;sg-color-label&quot;&gt;gray-med&lt;/span&gt;
		&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch gray-dark&quot;&gt;
		&lt;span class=&quot;sg-color-label&quot;&gt;gray-dark&lt;/span&gt;
		&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
