&lt;div class=&quot;whistles whistles-toggle&quot;&gt;&lt;h3 class=&quot;whistle-title font-secondary font-headlines&quot; aria-selected=&quot;false&quot;&gt;Toggle A&lt;/h3&gt;&lt;div class=&quot;whistle-content&quot; style=&quot;display: none;&quot;&gt;&lt;p&gt;Whistle A: This site is using the standard WordPress Theme Unit Test Data for content. The Theme Unit Test is a series of posts and pages that match up with a checklist on the WordPress codex. You can use the data and checklist together to test your theme.&lt;/p&gt;
&lt;p&gt;This site is using the standard WordPress Theme Unit Test Data for content. The Theme Unit Test is a series of posts and pages that match up with a checklist on the WordPress codex. You can use the data and checklist together to test your theme.&lt;/p&gt;
&lt;/div&gt;&lt;h3 class=&quot;whistle-title font-secondary font-headlines&quot; aria-selected=&quot;false&quot;&gt;Toggle B&lt;/h3&gt;&lt;div class=&quot;whistle-content&quot; style=&quot;display: none;&quot;&gt;&lt;p&gt;Whistle B: This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from.&lt;/p&gt;
&lt;/div&gt;&lt;h3 class=&quot;whistle-title font-secondary font-headlines&quot;&gt;Toggle C&lt;/h3&gt;&lt;div class=&quot;whistle-content&quot; style=&quot;display: none;&quot;&gt;&lt;p&gt;&lt;div class=&quot;embed-wrap&quot;&gt;&lt;iframe height=&quot;577&quot; src=&quot;http://www.youtube.com/embed/RHv1E04XW3Q?feature=oembed&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;&quot; style=&quot;max-width: 1025px;&quot;&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/p&gt;
&lt;/div&gt;&lt;h3 class=&quot;whistle-title font-secondary font-headlines&quot;&gt;Toggle D&lt;/h3&gt;&lt;div class=&quot;whistle-content&quot; style=&quot;display: none;&quot;&gt;&lt;ul&gt;
&lt;li&gt;This is&lt;/li&gt;
&lt;li&gt;the content&lt;/li&gt;
&lt;li&gt;for a Whistle.&lt;/li&gt;
&lt;li&gt;Yay!&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;&lt;/div&gt;