&lt;div class=&quot;demo&quot;&gt;
	&lt;!--Grid 1up--&gt;
	&lt;div class=&quot;grid-container&quot;&gt;
		&lt;div class=&quot;columns-12&quot;&gt;12 of 12 Columns&lt;/div&gt;
	&lt;/div&gt;
	&lt;!--End Grid 1up--&gt;		
&lt;/div&gt;&lt;!--end .demo--&gt;