<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #95a5a6;"></span>
		<span class="sg-label">#95a5a6</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bdc3c7;"></span>
		<span class="sg-label">#bdc3c7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #34495e;"></span>
		<span class="sg-label">#34495e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2980b9;"></span>
		<span class="sg-label">#2980b9</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1abc9c;"></span>
		<span class="sg-label">#1abc9c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #27ae60;"></span>
		<span class="sg-label">#27ae60</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e74c3c;"></span>
		<span class="sg-label">#e74c3c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c0392b;"></span>
		<span class="sg-label">#c0392b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f1c40f;"></span>
		<span class="sg-label">#f1c40f</span>
	</li>
</ul>