<ul class="icon-bar inline-list">
	<li class="fa fa-twitter"></li>
	<li class="fa fa-facebook-square"></li>
	<li class="fa fa-linkedin"></li>
	<li class="fa fa-pinterest"></li>
	<li class="fa fa-google-plus"></li>
	<li class="fa fa-youtube"></li>
	<li class="fa fa-rss"></li>
	<li class="fa fa-search"></li>
	<li class="fa fa-play-circle-o"></li>
	<li class="fa fa-file-excel-o"></li>
	<li class="fa fa-file-word-o"></li>
	<li class="fa fa-file-powerpoint-o"></li>
	<li class="fa fa-file-pdf-o"></li>
</ul>