<ul class="fav-bar">
<li>
<img src="../../images/favicon-16x16.png" />
<span class="label-fav">16x16 Favicon</span>
</li>
<li>
<img src="../../images/favicon-32x32.png" />
<span class="label-fav">32x32 Favicon</span>
</li>
<li>
<img class="mobile-favicon" src="../../images/apple-touch-icon-precomposed.png" />
<span class="label-fav">Mobile Touch Icon</span>
</li>
<li>
<img class="logo-full" src="../../images/COAfull.png" />
<span class="label-fav">Full Size Logo</span>
</li>
</ul>