/*------------------------------------*\
    $FORMS
\*------------------------------------*/
// form ol, form ul {
// 	list-style: none;
// 	margin-left: 0;
// }

fieldset {
    max-width: 550px;
}

// label {
// 	display: block;
// 	padding-bottom: $space-half;
// }





//Form Field Container
.field-container {
	margin-bottom: $space;
}

.inline-form {
	fieldset, .inline-container {
		position: relative;
	}
}
	


/* Validation */
.field-container {
& input.is-error {
	border-color: darken($error, 20);
}
& input.is-valid {
	border-color: darken($valid, 20);
}
}

.screen-reader-text {
    @extend %scut-hide-visually;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/


input[type="newsletter"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    // padding: 0.5em 0.6em;
    // display: inline-block;
    // border: 2px solid $gray-light-2;
    // background-color: $gray-light-2;
    // //box-shadow: inset 0 1px 1px $gray-light-2;
    // border-radius: 2px;
    // -webkit-box-sizing: border-box;
    // -moz-box-sizing: border-box;
    // box-sizing: border-box;
    // width: 100%;
display: inline-block;
padding: 0 .4em 0 .4em;
vertical-align: middle;
border-radius: 3px;
min-width: 50px;
width: 100%;
min-height: 36px;
background-color: $gray-light-2;
border: 2px solid $gray-light-2;
margin: 0 0 24px 0;


    &:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: $shield-blue;

    &.is-error {
    border-color: $error;
  }

      &.is-valid {
    border-color: $valid;
  }
}

}

input[type="range"] {
width: 100%;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px #eee;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
input[type="color"] {
    padding: 0.2em 0.5em;
}


/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]):focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: $shield-blue;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto $shield-blue;
}
checkbox,
radio {
    margin: 0.5em 0;
    display: block;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
    cursor: default;
    background-color: #eaeded;
    color: #cad2d3;
}

input#ic {
width: 50px;
padding: 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type])[disabled] {
    cursor: default;
    background-color: #eaeded;
    color: #cad2d3;
}
input[readonly],
select[readonly],
textarea[readonly] {
    background: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #e9322d;
}
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
select {
    border: 1px solid #ccc;
    background-color: white;
}
select[multiple] {
    height: auto;
}
label {
    display: block;
    margin: 0.5em 0 0.2em;
}
fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}


.search-form {
    @include container( 15em );
    @extend %scut-clearfix;
}


input[type="search"].search-field {
    @include span(9);
    margin: 0;
    height: 38px;
    border-right: none;
    @include border-right-radius(0);
    &:focus {
    border-right: none;
}
}


// input[type="submit"].search-submit {
//     @extend %font-awesome;
//     margin: 0;
//     height: 38px;
//     background-color: $shield-blue;
//     color: #fff;

//     &:hover, &:focus {
//         color: #fff;
//     }
// }

.search-form input[type="submit"].search-submit {
    @include button($blue);
    @include span(3 at 10);
    @include border-left-radius(0);
    }