<div class="social-share">
	<ul class="social-share-list">
		<li><a href="{{ url }}"><i class="fa fa-facebook-square"></i> Like</a></li>
		<li><a href="{{ url }}"><i class="fa fa-twitter"></i> Tweet</a></li>
		<li><a href="{{ url }}"><i class="fa fa-envelope"></i> Email</a></li>
		<li><a href="{{ url }}"><i class="fa fa-comments"></i> Comment</a></li>
	</ul>
</div>