<div class="whistles whistles-toggle"><h3 class="whistle-title font-secondary font-headlines" aria-selected="false">Toggle A</h3><div class="whistle-content" style="display: none;"><p>Whistle A: This site is using the standard WordPress Theme Unit Test Data for content. The Theme Unit Test is a series of posts and pages that match up with a checklist on the WordPress codex. You can use the data and checklist together to test your theme.</p>
<p>This site is using the standard WordPress Theme Unit Test Data for content. The Theme Unit Test is a series of posts and pages that match up with a checklist on the WordPress codex. You can use the data and checklist together to test your theme.</p>
</div><h3 class="whistle-title font-secondary font-headlines" aria-selected="false">Toggle B</h3><div class="whistle-content" style="display: none;"><p>Whistle B: This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from.</p>
</div><h3 class="whistle-title font-secondary font-headlines">Toggle C</h3><div class="whistle-content" style="display: none;"><p><div class="embed-wrap"><iframe height="577" src="http://www.youtube.com/embed/RHv1E04XW3Q?feature=oembed" frameborder="0" allowfullscreen="" style="max-width: 1025px;"></iframe></div></p>
</div><h3 class="whistle-title font-secondary font-headlines">Toggle D</h3><div class="whistle-content" style="display: none;"><ul>
<li>This is</li>
<li>the content</li>
<li>for a Whistle.</li>
<li>Yay!</li>
</ul>
</div></div>