&lt;div class=&quot;demo&quot;&gt;
	&lt;!--Grid 1up--&gt;
	&lt;div class=&quot;grid&quot;&gt;
		&lt;div class=&quot;u-size-1&quot;&gt;1 of 1 Column&lt;/div&gt;
	&lt;/div&gt;
	&lt;!--End Grid 1up--&gt;		
&lt;/div&gt;&lt;!--end .demo--&gt;