&lt;div class=&quot;nav-collapse&quot; id=&quot;nav&quot;&gt;
&lt;ul id=&quot;menu-primary-items&quot; class=&quot;menu-items&quot;&gt;
&lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Blog&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Front Page&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;About The Tests&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;menu-item menu-item-has-children dropdown&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;dropdown-toggle&quot;&gt;Level 1&lt;/a&gt;
&lt;ul class=&quot;sub-menu&quot;&gt;
  &lt;li class=&quot;menu-item menu-item-has-children dropdown&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;dropdown-toggle&quot;&gt;Level 2&lt;/a&gt;
  &lt;ul class=&quot;sub-menu&quot;&gt;
    &lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Level 3&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Level 3a&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Level 3b&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/li&gt;
  &lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Level 2a&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Level 2b&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Lorem Ipsum&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Page A&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Page B&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;