<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #5196E1;"></span>
		<span class="sg-label">#5196E1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2261A8;"></span>
		<span class="sg-label">#2261A8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #20B274;"></span>
		<span class="sg-label">#20B274</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0B8755;"></span>
		<span class="sg-label">#0B8755</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FDEC7A;"></span>
		<span class="sg-label">#FDEC7A</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FAD746;"></span>
		<span class="sg-label">#FAD746</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FE7D7E;"></span>
		<span class="sg-label">#FE7D7E</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E02D2E;"></span>
		<span class="sg-label">#E02D2E</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #555555;"></span>
		<span class="sg-label">#555555</span>
	</li>
</ul>
