<ul class="sg-colors">
	<li>
		<span class="sg-swatch shield-blue">
		<span class="sg-color-label">shield-blue</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch shield-green">
		<span class="sg-color-label">shield-green</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch light-gold">
		<span class="sg-color-label">light-gold</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch dark-gold">
		<span class="sg-color-label">dark-gold</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch flat-ruby">
		<span class="sg-color-label">flat-ruby</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch gray-light">
		<span class="sg-color-label">gray-light</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch gray-light-2">
		<span class="sg-color-label">gray-light-2</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch gray-light-3">
		<span class="sg-color-label">gray-light-3</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch gray-med">
		<span class="sg-color-label">gray-med</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch gray-dark">
		<span class="sg-color-label">gray-dark</span>
		</span>
	</li>
</ul>
