<ul class="sg-colors">
	<li>
		<span class="sg-color-name">Shield Blue</span>
		<span class="sg-swatch" style="background: #5D84C0;">
		<span class="sg-hex">#5D84C0</span></span>
	</li>
	<li>
		<span class="sg-color-name">Shield Green</span>
		<span class="sg-swatch" style="background: #3BA165;">
		<span class="sg-hex">#3BA165</span></span>
	</li>
	<li>
		<span class="sg-color-name">Light Gold</span>
		<span class="sg-swatch" style="background: #F9E262;">
		<span class="sg-hex">#F9E262</span></span>
	</li>
	<li>
		<span class="sg-color-name">Dark Gold</span>
		<span class="sg-swatch" style="background: #DB9C34;">
		<span class="sg-hex">#DB9C34</span></span>
	</li>
	<li>
		<span class="sg-color-name">Flat Ruby</span>
		<span class="sg-swatch" style="background: #F06A6F;">
		<span class="sg-hex">#F06A6F</span></span>
	</li>
	<li>
		<span class="sg-color-name">gray-light</span>
		<span class="sg-swatch" style="background: #F1F2F2;">
		<span class="sg-hex">#F1F2F2</span></span>
	</li>
	<li>
		<span class="sg-color-name">gray-light-2</span>
		<span class="sg-swatch" style="background: #E6E7E8;">
		<span class="sg-hex">#E6E7E8</span></span>
	</li>
	<li>
		<span class="sg-color-name">gray-light-3</span>
		<span class="sg-swatch" style="background: #BCBEC0;">
		<span class="sg-hex">#BCBEC0</span></span>
	</li>
	<li>
		<span class="sg-color-name">gray</span>
		<span class="sg-swatch" style="background: #939598;">
		<span class="sg-hex">#939598</span></span>
	</li>
	<li>
		<span class="sg-color-name">gray-dark</span>
		<span class="sg-swatch" style="background: #595959;">
		<span class="sg-hex">#939598</span></span>
	</li>
</ul>
