<p>Primary font: "Source Sans Pro", "Arial", sans-serif;</p>
<p><em>Primary font italic: "Source Sans Pro", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "Source Sans Pro", "Arial", sans-serif;</strong></p>
<p class="font-secondary">Secondary font: 'Raleway', Times, "Times New Roman", serif;</p>
<p class="font-secondary"><em>Secondary font italic: 'Raleway', Times, "Times New Roman", serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold; 'Raleway', Times, "Times New Roman", serif;</strong></p>