&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-hollow&quot;&gt;Alternate Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-disabled&quot;&gt;Disabled&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;input type=&quot;submit&quot; class=&quot;search-submit&quot; value=&quot;  &quot;&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-gray&quot;&gt;Cancel&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;input name=&quot;submit&quot; type=&quot;submit&quot; id=&quot;submit&quot; value=&quot;Submit&quot;&gt;&lt;/p&gt;