&lt;div class=&quot;demo&quot;&gt;
	&lt;!--Grid 2up--&gt;
	&lt;div class=&quot;grid&quot;&gt;
		&lt;div class=&quot;u-size-1of2&quot;&gt;1 of 2 Columns&lt;/div&gt;
		&lt;div class=&quot;u-size-1of2&quot;&gt;1 of 2 Columns&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;